/*Used to style heading 1*/
h1 {
    text-align: center;
    color: red;
}
.flex{
    padding: 200px;
    margin-top: -100px;
    display: flex;
    height: 200px;
    width: 200px;
    gap: 20px;/*used to get gaps between images*/
}
/* Center align images using flexbox */
.brightness {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Center align images using text-align */
.brightness{
    text-align: center;
    margin-bottom: 20px;
}
/*This filter has been used for image brightness*/
.brightness img{
    filter: brightness(250%);
}
.blur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Center align images using text-align */
.blur{
    text-align: center;
    margin-bottom: 20px;}
/*This filter is used to blur the imahge*/
    .blur img{
    filter: blur(3px);
}
.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Center align images using text-align */
.shadow{
    text-align: center;
    margin-bottom: 20px;
}
/*for creating shadow*/
.shadow img{
    filter:drop-shadow(10px 18px 35px black);
}   